includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
  level: 9
  strictRules:
    allRules: true
  fileExtensions:
    - php
  paths:
    - src
  tmpDir: vendor/.cache.phpstan
  reportUnmatchedIgnoredErrors: false
